@import url('https://fonts.googleapis.com/css?=family=Popins:300,400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
    
    
}

@media only screen and (max-width: 700px) 
 {
      header .navigation{
            
          display: none;
          
      }              
 }

 @media only screen and (max-width: 2000px) 
 {
      header .kompre{
          display: none;
      }
 }

 @media only screen and (max-width: 700px) 
{
    header .kompre{
        position: relative;
        width: 70%;
        font-size: 1.5em;
        background: transparent;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items:baseline;
        opacity: 1;
        
       
    }

    header .kompre .icon2{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 2.1em;
        text-align: center;
        transition: 0.4s;
        color: #fff;
        opacity: 1;
        
       
    }
}


  



 .kompre{
    position: relative;
    width: 40%;
    background: #F5FFFA;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
   
 }


body
{
    min-height: 100vh;
    background: #222327;
}

header
{
    position: absolute;
    top: 2%;
    right:-2.6%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    

}


.navigation
{ 
   
    position: relative;
    width: 70%;
    height: 6vh;
    background: #F5FFFA;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 100000px, rgb(51, 51, 51) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    opacity: 1;
    
    
}




.navigation ul
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    opacity: 1;
    
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    opacity: 1;
    
}

.navigation .icon2{
    position: relative;
  display: block;
  line-height: 75px;
  font-size: 2.1em;
  text-align: center;
  transition: 0.4s;
  color: #222327;
  opacity: 1;
}


.navigation ul li a
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   text-align: center;
   font-weight: 900;
   opacity: 1;
}



.navigation ul li a .icon
{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.4s;
  color: #222327;
  opacity: 1;
}

.navigation ul li:hover a .icon
{

    transform: translateY(-15px);
}

.navigation ul li a .text
{
    position: absolute;
    color: #222327;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
}

.navigation ul li:hover a .text
{
    opacity: 1;
    transform: translateY(10px);
    
} 



.boisko
{
    width: 100%;
    opacity: 111;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;

}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #000;
    color: #fff;
    font-size: 1.5em;
    justify-content:center;
    z-index: 1;
    position: absolute;

}


