@import url('https://fonts.googleapis.com/css?=family=Popins:300,400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
    
    
}

body
{
    min-height: 100vh;
    background: #222327;
}

header
{
    position: absolute;
    top: -2%;
    right: -2.6%;
    width: 105%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

.kolko{
    position: relative;
    justify-content: center;
    width: 20%;
    height: 12vh;
    display: flex;
    
}

.navigation
{ 
   
    position: relative;
    width: 102.4%;
    height: -10vh;
    background: #F5FFFA;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 100000px, rgb(51, 51, 51) 0px 0px 0px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    opacity: 1;
    
    
}

.s1
{
    position: relative;
    width: 30%;
    height: 40vh;
    justify-content: center;
    display: flex;
    align-items: center;
}



.navigation ul
{
    display: flex;
    width: 350px;
    opacity: 1;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    opacity: 1;
}

.navigation ul li a
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   text-align: center;
   font-weight: 500;
   opacity: 1;
}


.navigation ul li a .icon
{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #222327;
  opacity: 1;
}
.navigation ul li:hover a .icon
{

    transform: translateY(-20px);
}

.navigation ul li a .text
{
    position: absolute;
    color: #222327;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text
{
    opacity: 1;
    transform: translateY(10px);
    
} 



.boisko
{
    width: 100%;
    opacity: 111;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;

}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #000;
    color: #fff;
    font-size: 1.5em;
    justify-content:center ;
    z-index: 1;
    position: absolute;

}


