@import url('https://fonts.googleapis.com/css?=family=Popins:300,400,500,600,700,800&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: linear-gradient(#3b1044, #7597de);
    overflow-x: hidden;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 3.2s;
}

@keyframes appear
{
    from{
         opacity: 0;
    }

    to{
        opacity: 1;
    }
}

header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    right: 0;
    left: 5vh;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    z-index: 10000;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70%;
    position: absolute;
    top: 4vh;
    left: 2vh;
    

}

header ul li{
    list-style-type: none;
    text-decoration: none;
    margin-left: 15px;
    

    
}

header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 6px 15px;
}

header ul li a:hover,
header ul li a.active
{  
 padding: 6px 15px;
    border-radius: 20px;
    background: #fff;
    color: #3b1044;
}

.nav
{
    position: relative;
    cursor: pointer;
    margin-left: 176vh;
    top: 3.4vh;
    margin-right: 10px;
}

